.teacher {
   margin: 15px 0;
   text-align:left;
   border-radius: 20px;
   padding: 10px;
   box-sizing: border-box;
   background: #ecf0f3;
   box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
 }